<style>
@import 'https://fonts.googleapis.com/css?family=Stalemate|Dawning+of+a+New+Day|Sail|Snowburst+One|Princess+Sofia';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
</style>


* { margin:0; padding:0; box-sizing:border-box; }

header {
    background-color: #ffffff;
    border: 0px black solid;
    padding: 20px;
}

body {
  font-family: 'Open Sans', s;
  font-size: 20px;
  text-align: left;
}

main {
	background-color: #F7CFA2;
    border: 1px black solid;
    padding: 20px;
}

p {
	text-align: left;
	font-family: 'Princess Sofia', cursive;
	font-weight: bold;
	font-size: 5em;
	color: #F02E0F
}

nav {
	background: #0ADFF5;
}

nav a {
	display: block;
	float: left;
	padding: 2% 8%;
	color: #ffffff;
	text-decoration: none;
	border-right: 0px solid #fff;
}

nav a:hover { 
  background-color: #F33309; 
}

.info {
	background-color: #A2F7EB;
    border: 2px black solid;
}

.column {
	float: left;
	width: 50%;
  	height: 49%;
	padding: 1%;
	margin: 0;
}

#frames {
	background-color: #F7CFA2;
	padding-top: 6%;
	padding-left: 6%;
	border: 1px black solid;
}

#column1 {
  background-color: #ECEB46;
}

#column2 {
  background-color: #7CEC46;
}

#column3 {
  background-color: #46E4EC;
}

footer {
	text-align: center;
	clear: both;
	padding: 1%
	margin: 0 1%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 760px) {
	#column1, #column2, #column3 {
		float: none;
		width: auto;

nav a {
	display: block;
	text-align: center;
	margin: 0;
}