h1 {
	text-align: center;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #3b1516
}
h3 {
	text-align: center;
	font-family: Helvetica;
	font-style: italic;
	color: #3B15C4
}
body {
  background: url("http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");
  background-size: cover;
  font-family: Helvetica;
  text-align: left;
  color: #FF1A31
}
p {
  font-size: 18px;
  color: #3b1516
}
div {
	width: 260px;
	height: 260px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}

#home {
	background: url("http://png-4.findicons.com/files/icons/1254/flurry_system/256/search.png");
}

#web {
	background: url("http://icons.iconarchive.com/icons/alecive/flatwoken/256/Apps-Home-icon.png");
}

#search {
	background: url("http://www.fancyicons.com/free-icons/106/leopard-iphone/png/256/sites_folder_256.png");
}
